<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserName" value=""/>
    <add key="UserSurname" value=""/>
    <add key="Email" value=""/>
    <add key="UserNameTooLong" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"/>
    <add key="UserSurnameTooLong" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"/>
    <add key="UserNameRussianWords" value="АБВ"/>
    <add key="UserSurnameRussianWords" value="АБВ"/>
    <add key="IncorrectEmail" value="lenya"/>
  </appSettings>
</configuration>